{{ define "main" }}

<div class="section hero">
    <div class="container">
        <div class="row">
            <h1>{{ .Title }}</h1>
        </div>
    </div>
</div>

<div class="section">
    <div class="container">
        <div class="intro">
            <p class="card-text">
                {{ with .Site.GetPage .RelPermalink}}
                {{.Content}}
                {{end}}
                </p.RelPermalink.>
        </div>
        <div class="row">
            {{ $paginator := .Paginate (where .Site.RegularPages "Type" (replace (lower .Title) " " "-") ) }}
            {{ range $paginator.Pages }}
            <h4>
                <a href="{{ .Permalink }}" class="h5 d-block my-3">{{ .Title | markdownify }}</a>
            </h4>
            <p class="card-text">{{ .Summary }}</p>
            <div class="row">
                <div class="six columns"><a class="button" href="{{ .Permalink }}">Lire Plus</a></div>
                <div class="six columns">
                    <div class="u-pull-right"> <i class="{{.Params.Icon}}"></i>
                        <span class="category">
                            {{ range .Params.Categories }}
                            <a href="{{ " categories/" | relLangURL}}{{ . | urlize }}">
                                <!-- TODO stop auto formating-->
                                {{.}}
                            </a>
                        </span>
                        {{ end }}
                    </div>
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</div>
{{ end }}